@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #3C4C66;
  width: 280px;
  height: 130px;
  text-align: center;
  margin-right: 10px;

  &__img {
    width: 150px;
    height: 80px;
  }
}

h1 {
  font-family: Coming Soon;
  font-weight: lighter;
  color: white;
  margin-top: 5px;
}

.big_img {
  width: 980px;
  height: 130px;
background-color: #3C4C66;

  &__img {
    padding: 8px;
    width: 960px;
    height: 115px;

  }

}