

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #3C4C66;
  width: 280px;
  height: 130px;
  text-align: center;
  margin-right: 10px;

  &__img {
    width: 150px;
    height: 80px;
  }
}

h1 {
  font-family: Coming Soon;
  font-weight: lighter;

  margin-top: 5px;
}

.big_img {
  width: 980px;
  height: 130px;
background-color: #3C4C66;

  &__img {
    padding: 8px;
    width: 960px;
    height: 115px;

  }

}